# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
