# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
venv/
env/
ENV/

.env
# Django
*.log
media/
staticfiles/
celerybeat-schedule
celerybeat.pid

# IDEs
.vscode/
.idea/
*.swp

db.sqlite3

# OS files
.DS_Store
Thumbs.db
